//body          { background: #efefef;
                	color: #0011aa;
	margin-top:0px;
	}


table {font-size: 12px;}

a.linkefec	{
	display: block; 
	color: #060;
	position:relative;
	text-decoration: none;
	background-color: #fff;
	font-size: 12px;
	
	}

a.linkefec:hover     {
	color: #fff;
	font-weight: bold;
	background-color: #f60;
	/*text-align:center;*/
	}
	

td.titulo	{
	text-align: center;
	/*background-image:url(imagens/botao.jpg);*/
	background-color:#069;
	font-family: serif  "Comic Sans MS";
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


a.linkbanner	{
	/*display: block;*/ 
	color: #060;
	position:relative;
	text-decoration: none;
	/*background-color: #fff;*/
	font-size: 12px;
	}
a.linkbanner:hover     {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	/*background-color: #fff;*/
	/*text-align:center;*/
	}
	
/* //////////////////////////////////////////   CAD_BALANCA //////////////////////////////////////////////////// */

td.simples {
    text-align: right;
	/*background-image:url(imagens/botao.jpg);*/
	/*background-color:#069;*/
	font-family: Arial, Helvetica, sans-serif;
	color: #060;
	font-weight: bold;
	font-size: 13px;
	}	
	
td.simples_2 {
    text-align: center;
	/*background-image:url(imagens/botao.jpg);*/
	/*background-color:#069;*/
	font-family: Arial, Helvetica, sans-serif;
	color: #060;
	font-weight: bold;
	font-size: 12px;
	}	
	
td.simples_3 {
    /*text-align: center;*/
	/*background-image:url(imagens/botao.jpg);*/
	/*background-color:#069;*/
	font-family: Arial, Helvetica, sans-serif;
	color: #369;
	font-weight: bold;
	font-size: 13px;
	}